<div class="container">
  <h2>List Enrollment</h2>
<!--  <input type="text"  placeholder="Search...">-->
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name-Student</th>
      <th scope="col">Name-Course</th>
      <th scope="col">Start-Date</th>
      <th scope="col">End-Date</th>
      <th scope="col">Delete</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let enrollment of enrollments">
      <th scope="row">{{enrollment.id}}</th>
      <td>{{enrollment.student.name}}</td>
      <td>{{enrollment.course.name}}</td>
      <td>{{enrollment.startDate |date: 'dd/MM/yyyy'}}</td>
      <td>{{enrollment.endDate |date: 'dd/MM/yyyy'}}</td>
      <td><button class="btn btn-danger" (click)="deleteEnrollments(enrollment)">Delete</button></td>
      <td><button class="btn btn-success" (click)="editEnrollments(enrollment)">Edit</button></td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-outline-success" routerLink="/edit-enrollment">Add Enrollment</button>
  </div>
</div>
